@keyframes isLoading {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.artist {
  .masker {
    position: absolute;
    background-color: $color-primary-green-lighter;
  }

  .animated-background-artist {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 500px;
    width: 100%;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;

    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 10px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 10px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10px;
    }
    .middle-left-mask {
      left: 0;
      top: 0;
      height: 250px;
      width: 25%;
    }
    .middle-right-mask {
      right: 0;
      top: 0;
      height: 250px;
      width: 25%;
    }
    .middle-bottom-mask {
      top: 250px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  .animated-background-images {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 350px;
    width: 100%;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;

    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-left-mask {
      left: 0;
      top: 0;
      height: 250px;
      width: 25%;
    }
    .middle-right-mask {
      right: 0;
      top: 0;
      height: 250px;
      width: 25%;
    }
    .middle-bottom-mask {
      top: 250px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

   .animated-background-sites {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 220px;
    width: 100%;
    position: relative;

    .left-mask {
      left: 0;
      top: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      right: 0;
      top: 0;
      width: 20px;
      height: 100%;
    }
    .first-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .second-mask {
      top: 48px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    .third-mask {
      top: 88px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    .fourth-mask {
      top: 128px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    .fifth-mask {
      left: 0;
      top: 168px;
      width: 100%;
      height: 12px;
    }
    .sixth-mask {
      left: 0;
      top: 208px;
      width: 100%;
      height: 12px;
    }
  }

  .animated-background-releases {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 800px;
    width: 100%;
    position: relative;
    padding: 20px;

      .top-mask {
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .left-mask {
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
      }
      .right-mask {
        top: 0;
        right: 0;
        width: 20px;
        height: 100%;
      }
      .bottom-mask {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-first-mask {
        left: 0;
        top: 0;
        height: 50px;
        width: 100%;
      }
      .middle-second-mask {
        right: 0;
        top: 96px;
        height: 20px;
        width: 100%;
      }
      .middle-third-mask {
        top: 162px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-fourth-mask {
        top: 228px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-fifth-mask {
        top: 294px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-sixth-mask {
        top: 360px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-seventh-mask {
        top: 426px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-eight-mask {
        top: 492px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-ninth-mask {
        top: 558px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-thenth-mask {
        top: 624px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-eleventh-mask {
        top: 690px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-twelfth-mask {
        top: 756px;
        left: 0;
        width: 100%;
        height: 40px;
      }
    }
  .artist-section {

    .left-column {
      width: 100%;
      margin-bottom: 20px;
    }

    .right-column {
      width: 100%;
    }

    .img-container {
      display: flex;
      justify-content: center;
      background-color: $color-primary-green-lighter;

      img {
        max-width: 100%;
        max-height: 250px;
        display: block;
      }
    }

    .bio {
      padding: 10px;
      color: $color-white;
      background-color: $color-primary-green-light;
      line-height: 1.8;

      p {
        margin: 0;
      }
    }

    .more-images {
      margin-top: 20px;
    }

    .gallery-slider {
      margin-top: 30px;

      .image-gallery-slide  {
        background: $color-primary-green-dark;
        height: 250px;

        div {
          height: 100%;
        }
      }

      .image-gallery-image {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
      }

      .image-gallery-left-nav,
      .image-gallery-right-nav {
        display: none;
      }

      .image-gallery-thumbnails-wrapper {
        background-color: $color-tertiary-black;
        height: 100px;
        padding: 20px;
      }

      .image-gallery-thumbnails {
        height: 100%;
        display: flex;
        padding: 0;
      }

      .image-gallery-thumbnail {
        margin-right: 20px;
        border: none;
        width: auto;
        height: 60px;
      }

      .image-gallery-thumbnail-image {
        cursor: pointer;
        height: 60px;
        width: auto;
        object-fit: cover;
        object-position: 50% 10%;
      }

      .image-gallery-description {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      .image-gallery-index {
        display: none;
      }

      .image-gallery-fullscreen-button {
        display: none;
      }
    }

    .sites {
      margin-top: 20px;
    }

    .sites-list {
      .item {
        background-color: $color-secondary-yellow-dark;
        font-size: $paragraph-small;
        margin-bottom: 12px;
        margin-right: 12px;
        display: inline-block;

        &:hover {
          background-color: $color-secondary-yellow;
        }

        a {
          word-break: break-all;
        }
      }

      .link {
        padding: 6px 10px;
        display: block;
      }
    }

    .list {
      margin-bottom: 10px;
      
      .list-header {
        display: none;

        span {
          padding: 15px 10px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:not(:last-of-type) {
          width: 42.5%;
        }

        span:last-of-type {
          width: 15%;
        }
      }

      .list-row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $color-white;
        font-size: $paragraph-medium;
        margin-bottom: 15px;

        .list-cell {
          padding: 15px 10px;
          font-size: $paragraph-medium;
          width: 100%;

          &:nth-child(even) {
            background-color: $color-primary-green-lighter;
          }

          &:nth-child(odd) {
            background-color: $color-primary-green-light;
          }
        }

        .label {
          margin-right: 20px;
        }

        .list-cell {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .album-img-container {
          width: 75px;
          height: 75px;
          margin-right: 10px;
        }

        .album-cover {
          width: 75px;
          height: 75px;
          margin-right: 10px;
          object-fit: cover;
        }

        .link {
          text-decoration: underline;
        }
      }

    }

    .no-results {
      color: $color-white;
      font-size: $heading-medium;
      font-weight: 300;
      font-family: $font-sans, sans-serif;
      margin-left: 20px;
    }

  }

}

@media screen and (min-width: $breakpoint-mobile) {

}


@media screen and (min-width: $breakpoint-tablet) {
  .artist {
    .animated-background-artist {
      height: 620px;
      margin-bottom: 30px;

      .left-mask {
        width: 20px;
      }
      .right-mask {
        width: 20px;
      }

      .bottom-mask {
        width: 20px;
      }
      .top-mask {
        width: 20px;
      }

      .middle-left-mask {
        left: 0;
        top: 0;
        height: 370px;
        width: 25%;
      }
      .middle-right-mask {
        right: 0;
        top: 0;
        height: 370px;
        width: 25%;
      }
      .middle-bottom-mask {
        top: 370px;
        left: 0;
        width: 100%;
        height: 20px;
      }
    }

    .animated-background-images {
      height: 470px;

      .middle-left-mask {
        left: 0;
        top: 0;
        height: 370px;
        width: 25%;
      }
      .middle-right-mask {
        right: 0;
        top: 0;
        height: 370px;
        width: 25%;
      }
      .middle-bottom-mask {
        top: 370px;
        left: 0;
        width: 100%;
        height: 20px;
      }
    }

    .artist-section {

      .left-column {
        width: 100%;
        margin-bottom: 30px;
      }

      .right-column {
        width: 100%;
      }

      .img-container {
        display: flex;
        justify-content: center;
        background-color: $color-primary-green-lighter;

        img {
          max-height: 370px;
        }
      }

       .bio {
        padding: 25px;
      }

      .more-images {
        margin-top: 30px;
      }

      .gallery-slider {

        .image-gallery-slide  {
          height: 375px;
        }
      }

      .sites {
        margin-top: 30px;
      }

      .list {
      margin-bottom: 10px;
      
      .list-header {
        display: flex;
        justify-content: space-around;
        background-color: $color-tertiary-black;
        color: $color-white;

        span {
          padding: 15px 10px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:not(:last-of-type) {
          width: 42.5%;
        }

        span:last-of-type {
          width: 15%;
        }
      }

      .list-row {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: $color-white;
        font-size: $paragraph-medium;
        margin-bottom: 0;

        &:nth-child(even) {
          background-color: $color-primary-green-lighter;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-light;
        }

        .list-cell {
          padding: 15px 10px;
          font-size: $paragraph-medium;

          &:nth-child(even) {
            background-color: transparent;
          }

          &:nth-child(odd) {
            background-color: transparent;
          }
        }

        .list-cell:not(:last-of-type) {
          width: 42.5%;
        }

        .list-cell:last-of-type {
          width: 15%;
        }

        .label {
          display: none;
        }

        .album-cell {
          align-self: flex-start;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .album-img-container {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }

        .album-cover {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }

        .link {
          text-decoration: underline;
        }
      }

    }
    }
  }

}

@media screen and (min-width: $breakpoint-desktop-small) {
  .artist {
    .animated-background-artist {
      height: 620px;
      width: 100%;
      position: relative;
      margin-right: 40px;
    }

    .middle-left-mask {
      left: 0;
      top: 0;
      height: 370px;
      width: 25%;
    }
    .middle-right-mask {
      right: 0;
      top: 0;
      height: 370px;
      width: 25%;
    }
    .middle-bottom-mask {
      top: 370px;
      left: 0;
      width: 100%;
      height: 20px;
    }

  .artist-section {

    .left-column {
      width: calc(50% - 20px);
      margin-right: 40px;
      margin-bottom: 0;
    }

    .right-column {
      width: calc(50% - 20px);
    }

    .helper-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .images {


      .img {

      }

      .caption {

      }
    }

    .artist-contact {

      .artist-name {

      }

    }

    .list {
      margin-bottom: 30px;
    }

  }

}
}

@media screen and (min-width: $breakpoint-desktop-large) {
  
}

