.artist {

  .artist-section {

    .left-column {
      width: 100%;
      margin-bottom: 20px;
    }

    .right-column {
      width: 100%;
    }

    .img-container {
      display: flex;
      justify-content: center;
      background-color: $color-primary-green-lighter;

      img {
        max-width: 100%;
        max-height: 250px;
        display: block;
      }
    }

    .bio {
      padding: 25px;
      color: $color-white;
      background-color: $color-primary-green-light;
      line-height: 1.8;

      p {
        margin: 0;
      }
    }

    .more-images {
      margin-top: 20px;
    }

    .gallery-slider {
      margin-top: 30px;

      .image-gallery-slide  {
        background: $color-primary-green-dark;
        height: 250px;

        div {
          height: 100%;
        }
      }

      .image-gallery-image {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
      }

      .image-gallery-left-nav,
      .image-gallery-right-nav {
        display: none;
      }

      .image-gallery-thumbnails-wrapper {
        background-color: $color-tertiary-black;
        height: 100px;
        padding: 20px;
      }

      .image-gallery-thumbnails {
        height: 100%;
        display: flex;
        padding: 0;
      }

      .image-gallery-thumbnail {
        margin-right: 20px;
        border: none;
        width: auto;
        height: 60px;
      }

      .image-gallery-thumbnail-image {
        cursor: pointer;
        height: 60px;
        width: auto;
        object-fit: cover;
        object-position: 50% 10%;
      }

      .image-gallery-description {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      .image-gallery-index {
        display: none;
      }

      .image-gallery-fullscreen-button {
        display: none;
      }
    }

    .youtube-video{
      margin-top: 30px;
    }

    .artist-social-links {
      margin-top: 30px;
    }

    .list {
      margin-bottom: 10px;
      
      .list-header {
        display: none;

        span {
          padding: 15px 10px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:not(:last-of-type) {
          width: 42.5%;
        }

        span:last-of-type {
          width: 15%;
        }
      }

      .list-row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $color-white;
        font-size: $paragraph-medium;
        margin-bottom: 15px;

        div {
          padding: 15px 10px;
          font-size: $paragraph-medium;
          width: 100%;

          &:nth-child(even) {
            background-color: $color-primary-green-lighter;
          }

          &:nth-child(odd) {
            background-color: $color-primary-green-light;
          }
        }

        .label {
          margin-right: 20px;
        }

        .list-cell {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .album-cover {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }

        .link {
          text-decoration: underline;
        }
      }

    }

    .no-results {
      color: $color-white;
      font-size: $heading-medium;
      font-weight: 300;
      font-family: $font-sans, sans-serif;
      margin-left: 20px;
    }

  }

}

@media screen and (min-width: $breakpoint-mobile) {

}


@media screen and (min-width: $breakpoint-tablet) {
  .artist {

    .artist-section {

      .left-column {
        width: 100%;
        margin-bottom: 30px;
      }

      .right-column {
        width: 100%;
      }

      .img-container {
        display: flex;
        justify-content: center;
        background-color: $color-primary-green-lighter;

        img {
          max-height: 370px;
        }
      }

      .more-images {
        margin-top: 30px;
      }

      .gallery-slider {

        .image-gallery-slide  {
          height: 375px;
        }
      }


      .list {
      margin-bottom: 10px;
      
      .list-header {
        display: flex;
        justify-content: space-around;
        background-color: $color-tertiary-black;
        color: $color-white;

        span {
          padding: 15px 10px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:not(:last-of-type) {
          width: 42.5%;
        }

        span:last-of-type {
          width: 15%;
        }
      }

      .list-row {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: $color-white;
        font-size: $paragraph-medium;
        margin-bottom: 0;

        &:nth-child(even) {
          background-color: $color-primary-green-lighter;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-light;
        }

        div {
          padding: 15px 10px;
          font-size: $paragraph-medium;

          &:nth-child(even) {
            background-color: transparent;
          }

          &:nth-child(odd) {
            background-color: transparent;
          }
        }

        div:not(:last-of-type) {
          width: 42.5%;
        }

        div:last-of-type {
          width: 15%;
        }

        .label {
          display: none;
        }

        .album-cell {
          align-self: flex-start;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .album-cover {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }

        .link {
          text-decoration: underline;
        }
      }

    }
    }
  }

}

@media screen and (min-width: $breakpoint-desktop-small) {
  .artist {

  .artist-section {

    .left-column {
      width: 50%;
      margin-right: 40px;
      margin-bottom: 0;
    }

    .right-column {
      width: 50%;
    }

    .helper-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .images {


      .img {

      }

      .caption {

      }
    }

    .artist-contact {

      .artist-name {

      }

    }

    .list {
      margin-bottom: 30px;
    }

  }

}
}

@media screen and (min-width: $breakpoint-desktop-large) {
  
}

