.genre {

  .playlists-list-section {
    background-color: $color-primary-green;

    .styles-wrapper {
      margin-bottom: 30px;
    }

    .styles-list {
      display: none;

      .item {
        // height: 35px;
        padding: 4px 10px;
        margin-left: 8px;
        margin-bottom: 6px;
        color: $color-white;
        font-size: $paragraph-small;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiary-black;
        border: 1px solid $color-tertiary-black;
        cursor: pointer;

        &:hover {
          color: $color-black;
          background-color: $color-secondary-yellow;
        }
      }

      .active {
        color: $color-black;
        background-color: $color-secondary-yellow;
      }
    }

    .count {
      color: $color-grey;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;

      .item {
        width: 100%;
        margin-bottom: 15px;
        background-color: $color-primary-green-lighter;
      }

      .link {
        display: flex;
        width: 100%;
      }

      .img {
        display: block;
        height: 115px;
        width: 130px;
        object-fit: cover;
      }

      .info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        flex: 1;
      }

      .primary {
        font-size: $heading-small;
        color: $color-white; 
        margin-bottom: 5px;
      }

      .secondary {
        color: $color-grey;
      }
      .tertiary {
        font-size: $paragraph-small;
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }

}

@media screen and (min-width: $breakpoint-mobile-small) {
  .genre {
    .playlists-list-section {
      .styles-list {
        .item {
          color: $color-white;
          font-size: $paragraph-small;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color-tertiary-black;
          border: 1px solid $color-tertiary-black;
          cursor: pointer;
        }
      }
      .list {
        .img {
          height: 145px;
          width: 170px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile) {
  .genre {
    .playlists-list-section {

      .styles-list {

        .item {
          color: $color-white;
          font-size: $paragraph-small;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color-tertiary-black;
          border: 1px solid $color-tertiary-black;
          cursor: pointer;
        }

        .active {
          color: $color-black;
          background-color: $color-secondary-yellow;
        }
      }

      .list {
        .img {

        }
      }
      
    }

  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .genre {

    .playlists-list-section {

      .styles-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
        min-height: 45px;
        margin: 0 -8px;
      }

      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
          width: calc(50% - 7.5px);
          background-color: $color-primary-green-lighter;

          &:hover {
            background-color: $color-primary-green-hover;
          }
        }

        .link {
          display: flex;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop-small) {
  .genre {

    .playlists-list-section {
      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
          list-style-type: none;
          width: calc(50% - 15px);
          margin-bottom: 30px;
          background-color: $color-primary-green-lighter;
          display: flex;
          align-items: center;
        }

        .info {
          margin-left: 10px;
        }

      }

      .list {
        .img {

        }
      }

    }
  }
}

@media screen and (min-width: $breakpoint-desktop-large) {
  .genre {

  .playlists-list-section {
    background-color: $color-primary-green;

    .programme-name {
      margin: 20px 0 30px;
      color: $color-white;
      font-size: $heading-big;
      font-family: $font-serif, serif;
    }

    .styles-list {
      display: flex;
      flex-wrap: wrap;

      .item {

        &:hover {
          color: $color-black;
          background-color: $color-secondary-yellow;
        }
      }

      .active {
        color: $color-black;
        background-color: $color-secondary-yellow;
      }
    }

  }
}
}
