@keyframes isLoading {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.label {
  .masker {
    position: absolute;
    background-color: $color-primary-green-lighter;
  }

  .animated-background-label {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 700px;
    width: 100%;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
  
    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 10px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 10px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10px;
    }
   .middle-left-mask {
      left: 0;
      top: 0;
      height: 300px;
      width: 10%;
    }
    .middle-right-mask {
      right: 0;
      top: 0;
      height: 300px;
      width: 10%;
    }
    .middle-bottom-mask {
      top: 300px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  .animated-background-images {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 350px;
    width: 100%;
    position: relative;
    padding: 20px;

    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-left-mask {
      left: 0;
      top: 0;
      height: 250px;
      width: 20%;
    }
    .middle-right-mask {
      right: 0;
      top: 0;
      height: 250px;
      width: 20%;
    }
    .middle-bottom-mask {
      top: 250px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

   .animated-background-sites {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 220px;
    width: 100%;
    position: relative;

    .left-mask {
      left: 0;
      top: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      right: 0;
      top: 0;
      width: 20px;
      height: 100%;
    }
    .first-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .second-mask {
      top: 48px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    .third-mask {
      top: 88px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    .fourth-mask {
      top: 128px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    .fifth-mask {
      left: 0;
      top: 168px;
      width: 100%;
      height: 12px;
    }
    .sixth-mask {
      left: 0;
      top: 208px;
      width: 100%;
      height: 12px;
    }
  }

  .animated-background-releases {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 1560px;
    width: 100%;
    position: relative;
    padding: 20px;

    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-first-mask {
      left: 0;
      top: 0;
      height: 20px;
      width: 100%;
    }
    .middle-second-mask {
      left: 0;
      top: 260px;
      height: 20px;
      width: 100%;
    }
    .middle-third-mask {
      top: 520px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-fourth-mask {
      top: 780px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-fifth-mask {
      top: 1040px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-sixth-mask {
      top: 1300px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-seventh-mask {
      top: 1560px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  .label-section {

    .helper-container {
      display: flex;
      flex-direction: column;
    }

    .no-results {
      font-size: $heading-medium;
      color: $color-white;
    }

    .left-column {
      width: 100%;
      margin-bottom: 20px;
    }
    .right-column {
      width: 100%;
    }

    .intro {
      display: flex;
      padding: 10px;
      flex-direction: column;
      background-color: $color-primary-green-lighter;
      margin-bottom: 20px;
    }

    .img-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .img {
      max-width: 100%;
      max-height: 300px;
    }

    .info {
      flex: 1;
      background-color: $color-tertiary-black;
      padding: 15px 20px;
      color: $color-white;
      line-height: 1.5;

      .row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
      }

      .label {
        color: $color-secondary-yellow; 
        margin-right: 20px; 
      }

      .values-list {
        .item {
          display: inline-block;
        }
      }
    }

    .gallery-slider {
      margin-top: 30px;

      .image-gallery-slide  {
        background: $color-primary-green-dark;
        height: 300px;

        div {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .image-gallery-image {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        object-position: 50% 10%;
      }

      .image-gallery-left-nav,
      .image-gallery-right-nav {
        display: none;
      }

      .image-gallery-thumbnails-wrapper {
        background-color: $color-tertiary-black;
        height: 100px;
        padding: 20px;
      }

      .image-gallery-thumbnails {
        height: 100%;
        display: flex;
        padding: 0;
      }

      .image-gallery-thumbnail {
        margin-right: 20px;
        border: none;
        width: auto;
        height: 60px;
      }

      .image-gallery-thumbnail-image {
        cursor: pointer;
        height: 60px;
        width: auto;
        object-fit: cover;
        object-position: 50% 10%;
      }

      .image-gallery-description {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      .image-gallery-index {
        display: none;
      }

      .image-gallery-fullscreen-button {
        display: none;
      }
    }

    .sites-list {
      .item {
        background-color: $color-secondary-yellow-dark;
        font-size: $paragraph-small;
        margin-bottom: 12px;
        margin-right: 12px;
        display: inline-block;

        &:hover {
          background-color: $color-secondary-yellow;
        }

        a {
          word-break: break-all;
        }
      }

      .link {
        padding: 6px 10px;
        display: block;
      }
    }

  }
  .label-releases-section {
    background-color: $color-primary-green-dark;

    .list {
      margin-bottom: 10px;
      
      .list-header {
        display: none;

        span {
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:first-of-type {
          width: 35%;
        }

        span:nth-of-type(2) {
          width: 35%;
        }

        span:nth-of-type(3) {
          width: 20%;
        }

        span:nth-of-type(4) {
          width: 10%;
        }
      }

      .list-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        justify-content: space-between;
        color: $color-white;      
        font-size: $paragraph-medium;

        div {
          padding: 10px;
          width: 100%;

          &:nth-child(even) {
            background-color: $color-primary-green-lighter;
          }

          &:nth-child(odd) {
            background-color: $color-primary-green-light;
          }
        }

        .list-cell {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .artist-cover {
          width: 75px;
          height: 75px;
          object-fit: cover;
          margin-right: 15px;
        }

        .duration {
          margin-left: auto;
          margin-right: 0;
          font-size: $paragraph-small;
        }

        &:nth-child(even) {
          background-color: $color-primary-green-lighter;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-light;
        }

        .link {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile) {

}


@media screen and (min-width: $breakpoint-tablet) {
  .label {
    .animated-background-label {
      height: 600px;

      .top-mask {
        height: 20px;
      }
      .left-mask {
        width: 20px;
      }
      .right-mask {
        width: 20px;
      }
      .bottom-mask {
        height: 20px;
      }

      .middle-left-mask {
        left: 280px;
        top: 0;
        height: 100%;
        width: 20px;
      }
      .middle-right-mask {
        display: none;
      }
      .middle-bottom-mask {
        top: 230px;
        left: 0;
        width: 300px;
        height: 370px;
      }
    }

    .animated-background-images {
      height: 470px;

      .middle-left-mask {
        left: 0;
        top: 0;
        height: 370px;
        width: 25%;
      }
      .middle-right-mask {
        right: 0;
        top: 0;
        height: 370px;
        width: 25%;
      }
      .middle-bottom-mask {
        top: 370px;
        left: 0;
        width: 100%;
        height: 20px;
      }
  }

   .animated-background-sites {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 220px;
    width: 100%;
    position: relative;

    .left-mask {
      left: 0;
      top: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      right: 0;
      top: 0;
      width: 20px;
      height: 100%;
    }
    .first-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .second-mask {
      top: 48px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    .third-mask {
      top: 88px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    .fourth-mask {
      top: 128px;
      left: 0;
      width: 100%;
      height: 12px;
    }
    .fifth-mask {
      left: 0;
      top: 168px;
      width: 100%;
      height: 12px;
    }
    .sixth-mask {
      left: 0;
      top: 208px;
      width: 100%;
      height: 12px;
    }
  }

  .animated-background-releases {
    height: 780px;

      .middle-first-mask {
        left: 0;
        top: 0;
        height: 60px;
        width: 100%;
      }
      .middle-second-mask {
        left: 0;
        top: 160px;
        height: 40px;
        width: 100%;
      }
      .middle-third-mask {
        top: 280px;
        left: 0;
        width: 100%;
        height: 40px;
      }
      .middle-fourth-mask {
        top: 400px;
        left: 0;
        width: 100%;
        height: 40px;
      }
      .middle-fifth-mask {
        top: 520px;
        left: 0;
        width: 100%;
        height: 40px;
      }
      .middle-sixth-mask {
        top: 640px;
        left: 0;
        width: 100%;
        height: 40px;
      }
      .middle-seventh-mask {
        top: 760px;
        left: 0;
        width: 100%;
        height: 20px;
      }
  }

  .label-section {

    .helper-container {
      display: flex;
      flex-direction: column;
    }

    .left-column {
      width: 100%;
      margin-bottom: 30px;
    }
    .right-column {
      width: 100%;
    }

    .intro {
      padding: 20px;
      flex-direction: row;
    }

    .img-container {
      display: block;
      max-width: 260px;
      margin-right: 20px;
      margin-bottom: 0;
    }

    .img {
      max-height: 100%;
    }

    .info {
      flex: 1;
      background-color: $color-tertiary-black;
      padding: 15px 20px;
      color: $color-white;
      line-height: 1.5;

      .row {
        align-items: flex-start;
        margin-bottom: 10px;
      }

      .label {
        color: $color-secondary-yellow; 
        margin-right: 20px; 
      }

      .values-list {
        .item {
          display: inline-block;
        }
      }
    }

    .gallery-slider {
      margin-top: 30px;

      .image-gallery-slide  {
        background: $color-primary-green-dark;
        height: 300px;

        div {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .image-gallery-image {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        object-position: 50% 10%;
      }

      .image-gallery-left-nav,
      .image-gallery-right-nav {
        display: none;
      }

      .image-gallery-thumbnails-wrapper {
        background-color: $color-tertiary-black;
        height: 100px;
        padding: 20px;
      }

      .image-gallery-thumbnails {
        height: 100%;
        display: flex;
        padding: 0;
      }

      .image-gallery-thumbnail {
        margin-right: 20px;
        border: none;
        width: auto;
        height: 60px;
      }

      .image-gallery-thumbnail-image {
        cursor: pointer;
        height: 60px;
        width: auto;
        object-fit: cover;
        object-position: 50% 10%;
      }

      .image-gallery-description {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      .image-gallery-index {
        display: none;
      }

      .image-gallery-fullscreen-button {
        display: none;
      }
    }

    .sites-list {
      .item {
        background-color: $color-secondary-yellow-dark;
        font-size: $paragraph-small;
        margin-bottom: 12px;
        margin-right: 12px;
        display: inline-block;

        &:hover {
          background-color: $color-secondary-yellow;
        }
      }

      .link {
        padding: 6px 10px;
        display: block;
      }
    }

  }
  .label-releases-section {
    background-color: $color-primary-green-dark;

    .list {
      margin-bottom: 10px;
      
      .list-header {
        display: flex;
        justify-content: space-around;
        background-color: $color-tertiary-black;
        color: $color-white;

        span {
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:first-of-type {
          width: 35%;
        }

        span:nth-of-type(2) {
          width: 35%;
        }

        span:nth-of-type(3) {
          width: 20%;
        }

        span:nth-of-type(4) {
          width: 10%;
        }
      }

      .list-row {
        flex-direction: row;
        align-items: center;
         margin-bottom: 0;

        .label {
          display: none;
        }

        div {
          padding: 10px 20px;

          &:nth-child(even) {
            background-color: transparent;
          }

          &:nth-child(odd) {
            background-color: transparent;
          }
        }

         div:first-of-type {
            width: 35%;
          }

          div:nth-of-type(2) {
            width: 35%;
          }

          div:nth-of-type(3) {
            width: 20%;
          }

          div:nth-of-type(4) {
            width: 10%;
          }

        .list-cell {
          display: flex;  
          align-items: center;
          justify-content: flex-start;
        }

        .artist-cover {
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-right: 15px;
        }

        .duration {
          margin-left: auto;
          margin-right: 0;
          font-size: $paragraph-small;
        }

        &:nth-child(even) {
          background-color: $color-primary-green-lighter;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-light;
        }

        .link {
          text-decoration: underline;
        }
      }
    }
  }
}
}

@media screen and (min-width: $breakpoint-desktop-small) {
  .label {
    .label-section {

      .gallery-slider {
        margin-top: 0;
      }

      .helper-container {
        flex-direction: row;
        margin-top: 30px;
      }
      .left-column {
        width: 50%;
         margin-right: 40px;
      }
      .right-column {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop-large) {
  
}