.label {
  .label-section {

    .helper-container {
      display: flex;
      flex-direction: column;
    }

    .left-column {
      width: 100%;
      margin-bottom: 30px;
    }
    .right-column {
      width: 100%;
    }

    .intro {
      display: flex;
      background-color: $color-primary-green-light;
    }

    .img-container {
      max-height: 400px;
      max-width: 260px;
    }

    .img {
      max-width: 100%;
      max-height: 100%;
    }

    .info {
      flex: 1;
      background-color: $color-primary-green-lighter;
      padding: 15px 20px;
      color: $color-white;

      .row {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
      }

      .label {

      }

      .divider {
        margin: 0 10px;
        color: $color-secondary-yellow-dark;
        font-size: $heading-big;
      }

      .values-list {
        .item {
          display: inline-block;
        }
      }
    }

    .gallery-slider {
      margin-top: 30px;

      .image-gallery-slide  {
        background: $color-primary-green-dark;
        height: 300px;

        div {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .image-gallery-image {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        object-position: 50% 10%;
      }

      .image-gallery-left-nav,
      .image-gallery-right-nav {
        display: none;
      }

      .image-gallery-thumbnails-wrapper {
        background-color: $color-tertiary-black;
        height: 100px;
        padding: 20px;
      }

      .image-gallery-thumbnails {
        height: 100%;
        display: flex;
        padding: 0;
      }

      .image-gallery-thumbnail {
        margin-right: 20px;
        border: none;
        width: auto;
        height: 60px;
      }

      .image-gallery-thumbnail-image {
        cursor: pointer;
        height: 60px;
        width: auto;
        object-fit: cover;
        object-position: 50% 10%;
      }

      .image-gallery-description {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      .image-gallery-index {
        display: none;
      }

      .image-gallery-fullscreen-button {
        display: none;
      }
    }

    .sites-list {
      .item {
        background-color: $color-secondary-yellow-dark;
        font-size: $paragraph-small;
        margin-bottom: 12px;
        margin-right: 12px;
        display: inline-block;

        &:hover {
          background-color: $color-secondary-yellow;
        }
      }

      .link {
        padding: 6px 10px;
        display: block;
      }
    }

    .list {
      margin-bottom: 10px;
      
      .list-header {
        display: flex;
        justify-content: space-around;
        background-color: $color-tertiary-black;
        color: $color-white;

        span {
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:first-of-type {
          width: 35%;
        }

        span:nth-of-type(2) {
          width: 35%;
        }

        span:nth-of-type(3) {
          width: 20%;
        }

        span:nth-of-type(4) {
          width: 10%;
        }
      }

      .list-row {
        display: flex;
        color: $color-white;      
        font-size: $paragraph-medium;
        align-items: center;

        span {
          padding: 10px 20px;
        }

         span:first-of-type {
            width: 35%;
          }

          span:nth-of-type(2) {
            width: 35%;
          }

          span:nth-of-type(3) {
            width: 20%;
          }

          span:nth-of-type(4) {
            width: 10%;
          }

        .list-cell {
          display: flex;
         
          align-items: center;

        }

        .artist-cover {
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-right: 15px;
        }

        .duration {
          margin-left: auto;
          margin-right: 0;
          font-size: $paragraph-small;
        }

        &:nth-child(even) {
          background-color: $color-primary-green-lighter;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-light;
        }

        .link {
          text-decoration: underline;
        }
      }
    }

  }
}

@media screen and (min-width: $breakpoint-mobile) {

}


@media screen and (min-width: $breakpoint-tablet) {

}

@media screen and (min-width: $breakpoint-desktop-small) {
  .label {
    .label-section {

      .gallery-slider {
        margin-top: 0;
      }

      .helper-container {
        flex-direction: row;
        margin-top: 30px;
      }
      .left-column {
        width: 50%;
         margin-right: 40px;
      }
      .right-column {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop-large) {
  
}