@keyframes isLoading {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.master {
  .masker {
    position: absolute;
    background-color: $color-primary-green-lighter;
  }

  .animated-background-master {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 500px;
    width: 100%;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;

    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-left-mask {
      left: 0;
      top: 0;
      height: 300px;
      width: 20%;
    }
    .middle-right-mask {
      right: 0;
      top: 0;
      height: 300px;
      width: 20%;
    }
    .middle-bottom-mask {
      top: 300px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  .animated-background-images {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 350px;
    width: 100%;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;

    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-left-mask {
      left: 0;
      top: 0;
      height: 250px;
      width: 20%;
    }
    .middle-right-mask {
      right: 0;
      top: 0;
      height: 250px;
      width: 20%;
    }
    .middle-bottom-mask {
      top: 250px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  .animated-background-videos {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: calc(56vw + 340px);
    width: 100%;
    position: relative;
    padding: 20px;

    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-first-mask {
      left: 0;
      bottom: 360px;
      height: 20px;
      width: 100%;
    }
    .middle-second-mask {
      right: 0;
      bottom: 300px;
      height: 20px;
      width: 100%;
    }
    .middle-third-mask {
      bottom: 240px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-fourth-mask {
      bottom: 180px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-fifth-mask {
      bottom: 120px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-sixth-mask {
      bottom: 60px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-seventh-mask {
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  .animated-background-tracklist {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 600px;
    width: 100%;
    position: relative;
    padding: 20px;

    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-first-mask {
      left: 0;
      top: 0;
      height: 50px;
      width: 100%;
    }
    .middle-second-mask {
      right: 0;
      top: 80px;
      height: 20px;
      width: 100%;
    }
    .middle-third-mask {
      top: 130px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-fourth-mask {
      top: 180px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-fifth-mask {
      top: 230px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-sixth-mask {
      top: 280px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-seventh-mask {
      top: 330px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-eight-mask {
      top: 380px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-ninth-mask {
      top: 430px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-thenth-mask {
      top: 480px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-eleventh-mask {
      top: 530px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  .animated-background-versions {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: isLoading;
    animation-timing-function: linear;
    background: $color-primary-green-dark;
    background: linear-gradient(to right, $color-primary-green-lighter 8%, $color-primary-green-light 18%, $color-primary-green-lighter 33%);
    background-size: 3000px 3000px;
    height: 1560px;
    width: 100%;
    position: relative;
    padding: 20px;

    .top-mask {
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .left-mask {
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
    }
    .right-mask {
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
    }
    .bottom-mask {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-first-mask {
      left: 0;
      top: 0;
      height: 20px;
      width: 100%;
    }
    .middle-second-mask {
      left: 0;
      top: 260px;
      height: 20px;
      width: 100%;
    }
    .middle-third-mask {
      top: 520px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-fourth-mask {
      top: 780px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-fifth-mask {
      top: 1040px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-sixth-mask {
      top: 1300px;
      left: 0;
      width: 100%;
      height: 20px;
    }
    .middle-seventh-mask {
      top: 1560px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  .master-section {

    .helper-container {
      display: flex;
      flex-direction: column;
    }

    .left-column {
      width: 100%;
      margin-bottom: 20px;
    }
    .right-column {
      width: 100%;
    }

    .intro {
      display: flex;
      padding: 20px;
      flex-direction: column;
      background-color: $color-primary-green-light;
    }

    .img-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .img {
      max-width: 100%;
      max-height: 300px;
    }

    .info {
      flex: 1;
      background-color: $color-tertiary-black;
      padding: 15px 20px;
      color: $color-white;

      .row {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
      }

      .label {
        color: $color-secondary-yellow; 
        margin-right: 20px;     
      }

      .value {
      }

      .values-list {
        .item {
          display: inline-block;
        }
      }
    }

    .more-images {
      margin-top: 20px;
    }

    .gallery-slider {
      margin-top: 30px;

      .image-gallery-slide  {
        background: $color-primary-green-dark;
        height: 250px;

        div {
          height: 100%;
        }
      }

      .image-gallery-image {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
      }

      .image-gallery-left-nav,
      .image-gallery-right-nav {
        display: none;
      }

      .image-gallery-thumbnails-wrapper {
        background-color: $color-tertiary-black;
        height: 100px;
        padding: 20px;
      }

      .image-gallery-thumbnails {
        height: 100%;
        display: flex;
        padding: 0;
      }

      .image-gallery-thumbnail {
        margin-right: 20px;
        border: none;
        width: auto;
        height: 60px;
      }

      .image-gallery-thumbnail-image {
        cursor: pointer;
        height: 60px;
        width: auto;
        object-fit: cover;
        object-position: 50% 10%;
      }

      .image-gallery-description {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      .image-gallery-index {
        display: none;
      }

      .image-gallery-fullscreen-button {
        display: none;
      }
    }

    .list {
      margin-bottom: 10px;

      .no-results {
        font-size: $heading-medium;
        color: $color-white;
      }
      
      .list-header {
        display: flex;
        justify-content: space-around;
        background-color: $color-tertiary-black;
        color: $color-white;

        span {
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:first-of-type {
          width: 12%;
        }

        span:nth-of-type(2) {
          width: 80%;
        }

        span:last-of-type {
         
        }
      }

      .list-row {
        display: flex;
        color: $color-white;      
        font-size: $paragraph-medium;

        .list-cell {
          padding: 10px 20px;

          &:first-of-type {
            width: 12%;
          }

          &:nth-of-type(2) {
            width: 80%;
          }


        }

        .duration {
          margin-left: auto;
          margin-right: 0;
          font-size: $paragraph-small;
        }

        &:nth-child(even) {
          background-color: $color-primary-green-lighter;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-light;
        }

        .link {
          text-decoration: underline;
        }
      }
    }

    .videos {
      margin-top: 20px;
    }

    .video-container {
      margin-top: 30px;

      .list {
        background-color: $color-primary-green-lighter;

        .item {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $color-primary-green;
          cursor: pointer;
          color: $color-white;

          &:hover {
            background-color: $color-primary-green-light;
          }
        }

        .youtube-video {
          width: 100px;
          height: 56px;
          padding-bottom: 0;
          margin-right: 20px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }

        .title {
          font-size: $paragraph-medium;  
          flex: 1;
          padding: 10px;
        }

        .duration {
          font-size: $paragraph-small;  
          padding: 10px;
        }
      }
    }
  }

  .master-versions-section {
      background-color: $color-primary-green-dark;
    
      .no-results {
        font-size: $heading-medium;
        color: $color-white;
      }

      .list {
      margin-bottom: 10px;
      color: $color-white;
      
      .list-header {
        display: none;
 
        span {
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:first-of-type {
          width: 40%;
        }

        span:nth-of-type(2) {
          width: 25%;
        }

        span:nth-of-type(3) {
          width: 17%;
        }

        span:nth-of-type(4) {
          width: 10%;
        }

        span:nth-of-type(5) {
          width: 8%;
        }
      }

      .list-row {
        display: flex;
        color: $color-white;      
        flex-direction: column;
        justify-content: space-around;
        font-size: $paragraph-medium;
        align-items: center;
        margin-bottom: 15px;

        div {
          padding: 10px 20px;
          width: 100%;

          &:nth-child(even) {
            background-color: $color-primary-green-lighter;
          }

          &:nth-child(odd) {
            background-color: $color-primary-green-light;
          }
        }

        .list-cell {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .release-cover {
          width: 75px;
          height: 75px;
          object-fit: cover;
          margin-right: 15px;
        }

        .duration {
          margin-left: auto;
          margin-right: 0;
          font-size: $paragraph-small;
        }

        &:nth-child(even) {
          background-color: $color-primary-green-lighter;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-light;
        }

        .link {
          text-decoration: underline;
        }
      }
    }
    }
}

@media screen and (min-width: $breakpoint-mobile) {

}


@media screen and (min-width: $breakpoint-tablet) {
  .master {

    .animated-background-master {
      height: 300px;
      margin-bottom: 30px;

      .middle-left-mask {
        display: none;
      }
      .middle-right-mask {
        display: none;
      }
      .middle-bottom-mask {
        top: 0;
        left: 280px;
        width: 20px;
        height: 100%;
      }
    }

    .animated-background-images {
      height: 470px;

      .middle-left-mask {
        left: 0;
        top: 0;
        height: 370px;
        width: 25%;
      }
      .middle-right-mask {
        right: 0;
        top: 0;
        height: 370px;
        width: 25%;
      }
      .middle-bottom-mask {
        top: 370px;
        left: 0;
        width: 100%;
        height: 20px;
      }
    }

    .animated-background-versions {
    height: 780px;

    .middle-first-mask {
      left: 0;
      top: 0;
      height: 60px;
      width: 100%;
    }
    .middle-second-mask {
      left: 0;
      top: 160px;
      height: 40px;
      width: 100%;
    }
    .middle-third-mask {
      top: 280px;
      left: 0;
      width: 100%;
      height: 40px;
    }
    .middle-fourth-mask {
      top: 400px;
      left: 0;
      width: 100%;
      height: 40px;
    }
    .middle-fifth-mask {
      top: 520px;
      left: 0;
      width: 100%;
      height: 40px;
    }
    .middle-sixth-mask {
      top: 640px;
      left: 0;
      width: 100%;
      height: 40px;
    }
    .middle-seventh-mask {
      top: 760px;
      left: 0;
      width: 100%;
      height: 20px;
    }
  }

  .master-section {

    .helper-container {
      display: flex;
      flex-direction: column;
    }

    .left-column {
      width: 100%;
      margin-bottom: 30px;
    }
    .right-column {
      width: 100%;
    }

    .intro {
      flex-direction: row;
    }

    .img-container {
      max-width: 260px;
      margin-bottom: 0;
      margin-right: 20px;
    }

    .img {
      max-height: 100%;
    }

    .info {
      flex: 1;
      background-color: $color-tertiary-black;
      padding: 15px 20px;
      color: $color-white;

      .row {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
      }

      .label {
        color: $color-secondary-yellow; 
        margin-right: 20px;     
      }

      .value {
      }

      .values-list {
        .item {
          display: inline-block;
        }
      }
    }

    .more-images {
      margin-top: 30px;
    }

    .gallery-slider {
      margin-top: 30px;

      .image-gallery-slide  {
        background: $color-primary-green-dark;
        height: 375px;

        div {
          height: 100%;
        }
      }

      .image-gallery-image {
        margin: 0;
        max-height: 100%;
        max-width: 100%;
      }

      .image-gallery-left-nav,
      .image-gallery-right-nav {
        display: none;
      }

      .image-gallery-thumbnails-wrapper {
        background-color: $color-tertiary-black;
        height: 100px;
        padding: 20px;
      }

      .image-gallery-thumbnails {
        height: 100%;
        display: flex;
        padding: 0;
      }

      .image-gallery-thumbnail {
        margin-right: 20px;
        border: none;
        width: auto;
        height: 60px;
      }

      .image-gallery-thumbnail-image {
        cursor: pointer;
        height: 60px;
        width: auto;
        object-fit: cover;
        object-position: 50% 10%;
      }

      .image-gallery-description {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      .image-gallery-index {
        display: none;
      }

      .image-gallery-fullscreen-button {
        display: none;
      }
    }

    .list {
      margin-bottom: 10px;
      
      .list-header {
        display: flex;
        justify-content: space-around;
        background-color: $color-tertiary-black;
        color: $color-white;

        span {
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:first-of-type {
          width: 12%;
        }

        span:nth-of-type(2) {
          width: 80%;
        }

        span:last-of-type {
         
        }
      }

      .list-row {
        display: flex;
        color: $color-white;      
        font-size: $paragraph-medium;

        .list-cell {
          padding: 10px 20px;

          &:first-of-type {
            width: 12%;
          }

          &:nth-of-type(2) {
            width: 80%;
          }


        }

        .duration {
          margin-left: auto;
          margin-right: 0;
          font-size: $paragraph-small;
        }

        &:nth-child(even) {
          background-color: $color-primary-green-lighter;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-light;
        }

        .link {
          text-decoration: underline;
        }
      }
    }

    .videos {
      margin-top: 30px;
    }

    .video-container {
      margin-top: 30px;

      .list {
        background-color: $color-primary-green-lighter;

        .item {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $color-primary-green;
          cursor: pointer;
          color: $color-white;

          &:hover {
            background-color: $color-primary-green-light;
          }
        }

        .youtube-video {
          width: 100px;
          height: 56px;
          padding-bottom: 0;
          margin-right: 20px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }

        .title {
          font-size: $paragraph-medium;  
          flex: 1;
          padding: 10px;
        }

        .duration {
          font-size: $paragraph-small;  
          padding: 10px;
        }
      }
    }
  }

  .master-versions-section {
      background-color: $color-primary-green-dark;

      .list {
      margin-bottom: 10px;
      color: $color-white;
      
      .list-header {
        display: flex;
        justify-content: space-around;
        background-color: $color-tertiary-black;
        
        span {
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: $paragraph-small;
        }

        span:first-of-type {
          width: 40%;
        }

        span:nth-of-type(2) {
          width: 25%;
        }

        span:nth-of-type(3) {
          width: 17%;
        }

        span:nth-of-type(4) {
          width: 10%;
        }

        span:nth-of-type(5) {
          width: 8%;
        }
      }

      .list-row {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;

        .label {
          display: none;
        }

        div {
          padding: 10px 20px;

          &:nth-child(even) {
            background-color: transparent;
          }

          &:nth-child(odd) {
            background-color: transparent;
          }
        }

         div:first-of-type {
            width: 40%;
          }

          div:nth-of-type(2) {
            width: 25%;
          }

          div:nth-of-type(3) {
            width: 17%;
          }

          div:nth-of-type(4) {
            width: 10%;
          }

          div:nth-of-type(5) {
            width: 8%;
          }

        .list-cell {
          display: flex;
         justify-content: flex-start;
          align-items: center;

        }

        .release-cover {
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-right: 15px;
        }

        .duration {
          margin-left: auto;
          margin-right: 0;
          font-size: $paragraph-small;
        }

        &:nth-child(even) {
          background-color: $color-primary-green-lighter;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-light;
        }

        .link {
          text-decoration: underline;
        }
      }
    }
    }
}
}

@media screen and (min-width: $breakpoint-desktop-small) {
  .master {
    .animated-background-videos {
      height: calc(715px);
      margin-bottom: 30px;

      .middle-first-mask {
        left: 0;
        bottom: 360px;
        height: 20px;
        width: 100%;
      }
      .middle-second-mask {
        right: 0;
        bottom: 300px;
        height: 20px;
        width: 100%;
      }
      .middle-third-mask {
        bottom: 240px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-fourth-mask {
        bottom: 180px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-fifth-mask {
        bottom: 120px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-sixth-mask {
        bottom: 60px;
        left: 0;
        width: 100%;
        height: 20px;
      }
      .middle-seventh-mask {
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 20px;
      }
    } 

    .master-section {

      .helper-container {
        flex-direction: row;
      }
      .left-column {
        width: calc(60% - 20px);
        margin-right: 40px;
      }
      .right-column {
        width: calc(40% - 20px);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop-large) {
  
}