@import '../abstracts/variables.scss';

.session {

  .section-heading {
    margin-top: 25px;
    margin-bottom: 10px;
    color: $color-white;
    font-size: $heading-big;
    font-family: $font-serif, serif;
  }

  .artist-section {
    background-color: $color-primary-green;

    .wrapper {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 20px 30px 40px;
      background-color: $color-primary-green-lighter;
    }

    .slash {
      color: $color-secondary-yellow-dark;
      margin: 0 10px;
    }

    .helper-container {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
    }

    .images {
      flex: 1;
      margin-right: 40px;

      .img {
        display: block;
        width: 100%;
      } 

      .caption {
        padding: 15px 0;
        color: $color-white;
        font-size: $heading-medium;
        font-weight: 300;
        font-family: $font-sans, sans-serif;
        background-color: $color-primary-green;
        text-align: center;
      }
    }

    .artist-contact {
      background-color: $color-primary-green-dark;
      flex: 1;

      .artist-name {
        color: $color-white;
        font-size: $heading-medium;
        font-weight: 300;
        font-family: $font-sans, sans-serif;
        background-color: $color-primary-green;
        padding: 20px 25px;
      }

    }

  }

  .playlist-results-section {
    background-color: $color-primary-green;

    .wrapper {
      max-width: 1200px;
      margin: auto;
      padding: 20px 30px 40px;
      background-color: $color-primary-green-dark;
    }

    .list {
      margin: 25px 0;
      width: 50%;
      
      li {
        list-style-type: none;
      }

      .list-header {
        display: flex;
        justify-content: space-around;
        background-color: $color-secondary-yellow-dark;

        span {
          padding: 12px;
          width: 25%;
          color: $color-grey-light;
          font-size: $heading-medium;
          font-family: $font-sans, sans-serif;
        }
      }

      .list-row {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        &:nth-child(even) {
          background-color: $color-primary-green;
        }

        &:nth-child(odd) {
          background-color: $color-primary-green-lighter;
        }

        .link {
          padding: 12px;
          width: 25%;
          color: $color-white;
          font-size: $heading-small;
          font-weight: 300;
          font-family: $font-sans, sans-serif;
        }

        span {
          padding: 12px;
          width: 25%;
          color: $color-white;
          font-size: $heading-small;
          font-weight: 300;
          font-family: $font-sans, sans-serif;
        }
      }
    }
  }

}

@media screen and (min-width: $breakpoint-mobile) {

}


@media screen and (min-width: $breakpoint-tablet) {

}

@media screen and (min-width: $breakpoint-desktop-small) {
  .session {

  .artist-section {

    .wrapper {

    }

    .programme-name {

    }

    .slash {

    }

    .helper-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .images {


      .img {

      }

      .caption {

      }
    }

    .artist-contact {
      max-width: 50%;

      .artist-name {

      }

    }

  }

}
}

@media screen and (min-width: $breakpoint-desktop-large) {
  
}

