@import '../../abstracts/variables.scss';

.manage-content-page {
  background-color: $color-grey-light;

  .wrapper {
    display: flex;
    min-height: calc(100vh - 128px);
    max-width: 1200px;
    margin: auto;
    background-color: $color-white;

    .main {
      padding: 30px;

      .input-group {
        position: relative;
        display: inline-block;
        margin-top: 30px;
      }

      .input {     
        padding: 6px 12px;
        width: 250px;
        font-size: $paragraph-medium;
        font-family: $font-sans, sans-serif;
        border: 1px solid $color-grey;
        outline: none;
      }

      .reset-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: $color-grey;
        cursor: pointer;
      }

      .filters-wrapper {
        display: flex;
        margin-top: 30px;
      }

      .date-input {
        margin-right: 15px;

        input {
          padding: 6px 12px;
        }
      }

      .date-input input,
      .filter {
        font-size: $paragraph-medium;
        font-family: $font-sans, sans-serif;
        border: 1px solid $color-grey;
        outline: none;
      }

      .filter {
        padding: 5px 12px;
      }

      .react-datepicker__day--selected {
        background-color: $color-secondary-yellow-dark;
      }

      .list {
        margin: 15px 0;

        .item {
          list-style-type: none;
          font-size: $paragraph-medium;
          font-family: $font-sans, sans-serif;
          display: flex;
          align-items: center;
        }
      }

      .no-results {
        font-size: $paragraph-medium;
        font-family: $font-sans, sans-serif;
        margin-left: 15px;
      }
    }

    .add-icon {
      margin: 30px;
      cursor: pointer;
    }

    .manager-list {
      margin-top: 20px;

      .item {
        background-color: $color-grey-whitesmoke;
        margin-bottom: 15px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        max-width: 500px;
      }

      .img-container {
        width: 150px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-grey-light;
      }

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .img-no-crop {
        max-width: 100%;
        height: 100px;
      }

      .item-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 15px;

        .primary {  
          margin-bottom: 3px;
        }

        .secondary {
          font-weight: 300;
        }
      }

      .helper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
      }

      .date {
        font-weight: 300;
        padding: 10px;
      }

      .action-buttons {
        padding: 10px;
        
        .button {
          cursor: pointer;
        }

        .action-button-wrapper {
        }

        .delete-button-wrapper {
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile) {

}


@media screen and (min-width: $breakpoint-tablet) {

}

@media screen and (min-width: $breakpoint-desktop-small) {
  .manage-content-page {

    .wrapper {
      min-height: calc(100vh - 168px);
    }
  }
}

@media screen and (min-width: $breakpoint-desktop-large) {
  
}
