.react-datepicker-wrapper {
  margin-bottom: 0 !important;

  .react-datepicker__input-container {
    margin: 0;
  }
}

.react-datepicker-popper {
  z-index: 5;
  left: 10px !important;
  background-color: $color-primary-green-dark;
  color: $color-white;
}

.react-datepicker__year {
  width: 68px;
  text-align: center;
}

.react-datepicker__navigation,
.react-datepicker__header  {
  display: none;
}
.react-datepicker__year-container-text {
  margin: 6px;
  padding: 4px 6px;

  &:hover {
    cursor: pointer;
    background-color: $color-secondary-yellow;
  }
}


